@page
@model ExpenseTrackerWeb.Pages.Transactions.DeleteModel

@{
    ViewData["Title"] = "Delete Transaction";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-page="/Transactions/Index">Transactions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
</nav>

<h1>Delete Transaction</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Transaction.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
